<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new users</title>
</head>
<body>
    <form action="submit-user" method="post">
        <input type="text" name="name" placeholder="enter your name">
        <br><br>
        <input type="text" name="age" placeholder="enter user age">
        <br><br>
        <input type="text" name="email" placeholder="enter your email">
        <br><br>
        <button>submit</button>


    </form>
</body>
</html>